html{
	font-size: 16px;
}
@media (min-width: 1023px){
	.main-nav__item, .service-nav__item, .switch-lang{
		font-size: 18px;
		font-size: 1.125rem !important;
	}
	.header-top{
	    padding: 15.5px 15px;
	    padding: 0.9375rem 0.9375rem;
	    
	}
	.main-nav__item {
    	padding: 0 20px 0 0;
    	padding: 0 1.25rem 0 0;  	 
   		margin-right: 17px;
   		margin-right:1.063rem;
	}
	.logo-wrap {
	    padding: 19px 0 19px 20px;
	    padding: 1.188rem 0 1.188rem 1.25rem;
	    margin: 0 34px 0 0;
	    margin: 0 2.125rem 0 0; 
	}
	.categories-nav__item:first-child {
	    margin-left: 23px;
	    margin-left: 1.438rem;
	}
	.categories-nav__item {
	    padding: 35px 0;
	    padding: 2.188rem 0;
	    margin: 0 23px;
	    margin: 0 1.438rem;
	}
	.header-button.button-search i {
	    padding: 1.813rem 0;
	}
	.header-button {
	    padding: 1.813rem 0;
	    font-size: 2rem;
	    width:  5.625rem;
	}
	.header-button-wrap {
	    padding: 0 1.25rem;
	}
	.main-slider__slider .item{
		height: 43.75rem;
	}
	.main-slider__slide-text {
	    font-size: 2em;
	}
	.main-slider__percent {
	    top: -3.438rem;
	    right: -5rem;
	    width: 5rem;
	    height: 5rem;
	    font-size: 1.625rem;
	} 
	.main-slider__arrow-left::after{
		font-size: 1.625rem;
		height: 1.563rem;
	}
	.main-slider__slide-button {
	    width: 12.5rem;
	    height: 3.125rem;
	    padding: 0.8125rem 0;
	    margin: 1.563rem auto 0;
	    font-size: 1.125rem;
	}
	.categories-block__title {
	    font-size: 2.5rem;
	    height: 5.625rem;
	    padding: 0.9375rem 0;
        margin-top: 1.875rem;
	}
	.first-line .categories-block__item {
	    height: 23.13rem;
	}
	.white-btn {
	    max-width: 12.5rem;
	    height: 3.125rem;
	    padding: 0.8125rem 0;
	    font-size: 1.125rem;
	}
	.categories-block__other-categories {
	    bottom: 3.75rem;
	}
	.categories-block__item {
	    min-height: 21.88rem;
	}
	.categories-block__img-wrap.img-wrap-s {
	    height: 21.88rem;
	}
	.section-title {
	    font-size: 2em;
	    margin: 0 auto 1.25rem;
	    padding: 1.25rem 0;
	}
	.brand-block__item {
	    min-width: 18.75rem;
	    padding: 1.25rem 0;
	}
	.brand-block__item .brand-block__img {
	    padding: 3.125rem 3.75rem;
        
	}
	.product-block__img{
		max-height: 100%;
	}
	.categories-tab.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	    padding: 0  4.063rem 0;
	}
	.categories-tab.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	    font-size: 2.25rem;
	    padding: 0.4375rem;
	}
	.product-block__list-item{
	    height: 43.75rem;
   		margin: 0 0 0.625rem;
	}
	.product-block__item{
	    padding: 1.25rem;
	}
	.product-block__img-box{
	    margin: 0 auto 0.9375rem;
	}
	.product-block__img-box .product-block__link{
		height: 22.5rem;
	}
	.product-block__label{
		font-size: 1em;
		width: 5rem;
		height: 5rem;
		padding: 1.875rem 0;
	}
	.product-block__label.label-discount{
	    padding: 1.563rem 0;
	    font-size: 1.625rem;
	}
	.product-block__description-box{
	    margin: 0 0 1.25rem;
	}
	.product-block__prod-code{
		font-size: 0.875rem;
		margin: 0 0 0.3125rem;
	}
	.product-block__prod-name{
		height: 3.125rem;
	    margin: 0 0 1.25rem;
	    font-size: 1.25rem;
	}
	.product-block__prod-description{
		padding: 0  3.75rem;
		margin: 0 0 1.25rem;
		font-size: 1.125rem;
	}
	.product-block__old-price{
        padding: 0 3.438rem;
	    font-size: 1.5rem !important;
	}
	.product-block__price{
		font-size: 2em;
	}
	p {
	    font-size: 0.8125rem;
	    line-height: 1.125rem;
	    padding: 0.9375rem 0 0.9375rem 0;
	}
	.product-block__buy-button{
		max-width: 10.63rem;
	    height: 3.125rem;
	    padding: 0.8125rem 0.625rem;
	    font-size: 1.375rem;
	}
	.product-block__wish-button{
		width:  2.625rem;
	    height: 2em;
	    margin: 0 0 0 1.875rem;
	}
	.product-block__wish-button i{
		font-size: 3rem;
	}
	.product-block__link-all{
	    margin: 1.875rem 0 0;
	    padding-right: 1rem;
	    font-size: 1.25rem;
	}
	.section-link_all-promo .icon-arrow-right{
	    margin: 0 0 0 0.3125rem;
	}
	.section-title.title_other{
		margin: 0 0 1.875rem;
	}
	.promotion-slider__date-box{
	    right: 1.25rem;
	    bottom: 1.25rem;
	    min-width: 25rem;
	    height: 3.75em;
	    padding: 1.063rem 1.563rem;
	}
	.promotion-slider__date {
	    font-size: 1.5rem;
	}
	.news-block__date-box {
	    right: 1.25rem;
	    bottom: 1.25rem;
	    max-width: 21.25rem;
	    padding: 0.8125rem 0;
	}
	.news-block__item-title{
	    padding: 0.8125rem 0;
	    font-size: 1.5rem;
	}
	.description-block{
	    padding: 0 6.25rem;
	}
	.description-block__item {
	    margin: 0 0 1.875rem;
	}
	.description-block__title{
		font-size: 2em;
	    margin: 0 0 1.875rem;
	}
	.description-block__text{
		font-size:  1.125rem;
		text-indent: 1.875rem;
	}
	.description-block__vantage-box{
		padding: 1.875rem 0 0;
	}
	.about-title h1{
		font-size: 2rem;
	}
	.about-content-text p{
		font-size: 1.125rem;
	}
	.about-title h2{
		font-size: 1.5rem;
	}
	.about-blocks .about-block span p{
		font-size: 1.25rem;
	}
	.about-blocks .about-block p{
		font-size: 1rem;
	}
	.location-block p, .location-block a{
		font-size: 1.25rem;
	}
	.section-title{
		font-size: 2rem;
	}
	.contact-block__title{
		font-size: 1.25rem;
	}
	.contact-block__text{
		font-size: 1.25rem;
	}
	.description-block__vantage-title{
		font-size: 1.25rem;
	}
	.description-block__vantage-subtitle{
		font-size: 1rem;
	}
	.promotion-slider__slide-img{
		height: 21.875rem;
	}
	.news-block__item{
		height: 21.875rem;
	}
	.brand-block__item{
		height:13.75rem;
	}
	.footer-nav__link{
		font-size: 1.125rem;
	}
	.subscribe-form__input{
		font-size: 1.125rem;
		height: 3.125rem;
  	  padding: 0.8125rem 1.25rem;
	}
	.subscribe-form__button{
		font-size:1.25rem;
		max-width: 10rem;
  		height: 3.125rem;
	}
	.copyright__text{
		font-size: 1rem;
	}
	.footer-top{
		padding: 4.375rem 0;
	}
	.subscribe-wrap{
		max-width: 44.375rem;
	}
	.footer-nav{
		margin: 0 6.25rem 0 0;
	}
	.footer-nav__item{
		margin-bottom:0.9375rem;
	}
	.footer-nav-wrap{
		padding: 2.190rem 0 0;
	}
	.categories-nav__submenu-item-name{
		font-size: 1.25rem;
		padding: 0 0 0.3125rem 1.25rem;
  		margin: 0 0 0.3125rem;
	}
	.categories-nav__list-link{
		font-size: 1rem;
	}
	.categories-nav__submenu {
    	padding: 1.5625rem 0.625rem;
	}
	.categories-nav__submenu-item {
	    max-width: 19.9375rem;
	    padding: 0 1.25rem 0.3125rem;
	    margin: 0 0 0.625rem;
	}
	.section-link_all-promo{
		font-size: 1.25rem;
	}
	.promotion-slider .slick-dots li button {
    width: 1.25rem;
    height: 1.25rem;
	}
	.promotion-slider .slick-dots li {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.625rem;
	}
	.section-link_all-news{
		font-size:1.25rem;
	}
	.categories-nav__link{
		font-size:1.25rem;
	}
	.logo{
		height: auto;
		width: 13rem;
	}
	.header-search__input{
		font-size:  1.125rem;
		width:  21.88rem;
	    padding: 0.6875rem  6.25rem 0.6875rem 1.25rem;
   		height: 3.125rem;
	}
	.header-dropdown{
		top: 3rem;
	}
	.info-list-menu li{
		font-size:1.5rem;
	}
	.user-list-base li{
		font-size:1.25rem;
	}
	.edit-data-content a{
		font-size: 1.125rem;
	}
	.guarantee-block__title{
		font-size: 2rem;
		padding-bottom: 1.25rem;
	}
	.guarantee-block__text{
		font-size: 1.125rem;
	}
	.guarantee-block__text-tagging{
		font-size: 1.125rem;
	}
	.sale_header{
		font-size: 1.25rem;
	}
	.delivery_text{
		font-size: 1rem;
	}
	.delivery-internal-item{
		font-size: 31.25rem;
	}
	.breadcrumb__text{
		font-size: 1rem;
	}
	.shares-page-block__title{
		font-size: 1.5rem;
	}
	.shares-page-block__text{
		font-size: 1.25rem;
	}
	.shares-page-block__banner{
		height: 25rem;
		margin: 1.25rem 0 0;
	}
	.shares-page-block__date-box {
	    right: 1.25rem;
	    bottom: 1.25rem;
	    width: 25rem;
	    padding: 1.0625rem 1.5625rem;
	}
	.shares-page-block__date{
		font-size: 1.25rem;
	}
	.shares-block__sorting-form{
		margin-bottom: 1.25rem;
	}
	.shares-block__sort-text{
		font-size: 1rem;
	}
	.styled .jq-selectbox__select-text{
		font-size:1.125rem;
	}
	.shares-block__date-box {
    	right: 1.25rem;
	    bottom: 1.25rem;
	    width: 25rem;
	    padding: 1.0625rem 1.5625rem;
	}
	.shares-block__date{
		font-size: 1.25rem;
	}
	.pagination-item{
	    width: 3.125rem;
	    height: 3.125rem;
	    padding: 0.5625rem 0;
	    margin: 0 0.625rem;
	    font-size: 1.375rem;
	}
	.shares-block .pagination-block{
		padding: 0.625rem 0 4.375rem;
	}
	.repair-info h2{
		font-size: 1.5rem;
	}
	.repair-info p{
		font-size: 1.25rem;
	}
	.repair-info p{
		padding-right: 2rem;
	}
	.repair-info{
		width: 37.5rem;
		margin-top: 1rem;
	}
	.repair-info a{
		font-size: 1.25rem;
	}
	.news-page-block__title{
		font-size: 1.5rem;
	}
	.news-page-block__text{
		    font: 300  1.25rem/1.875rem 'Open Sans', sans-serif;
	}
	.news-page-block__img{
		height: 25rem;
	}
	.news-page-block__date{
		font-size: 1.25rem;
		padding: 1.25rem 0 1.875rem;
	}
	.all-news-block__img{
		height: 25rem;
	}
	.all-news-block__description-wrap {
	    max-width: calc(100% - 31.25rem);
	    padding: 0 2.5rem;
	    margin: 0 0 1.25rem;
	}
	.all-news-block__img-wrap{
		max-width: 31.25rem;
	}
	.all-news-block__title {
    	margin: 0 0 1.25rem;
    	font: 400 1.5rem/normal 'Open Sans', sans-serif;
	}
	.all-news-block__description-text{
		 font: 300  1.25rem/1.875rem 'Open Sans', sans-serif;
	}
	.all-news-block__link {
    max-width: 15.625rem;
    padding: 0.6875rem 0;
     font: 300  1.25rem/1.875rem 'Open Sans', sans-serif;
	}
	.location img:first-child{
		height: 18.75rem;
	}
	#map1, #map2{
		height: 18.75rem;
	}
	.about-content-text p{
		text-indent: 1.875rem;
    	padding: 1.875rem 0 0 0;
	}
	.contact-block__contact-box{
		width: 37.75rem;
	}
	.contact-block__map-box{
		width: 66.125rem;
	}
	.contact-block__section{
		margin: 0 0 1.875rem;
	}
}